/* .card-img-top{
    width: 20rem;
    margin: auto;
} */

/* .card-img-top img{
    max-height: 20rem;
} */

/* .pimg
{
    max-width: 12rem;
    margin: auto;
    max-height: 10rem;

    
} */